/.metadata/
.sonarlint/
discussion.review.me/.classpath
discussion.review.me/.project
discussion.review.me/.settings/org.eclipse.core.resources.prefs
discussion.review.me/.settings/org.eclipse.jdt.core.prefs
discussion.review.me/.settings/org.eclipse.m2e.core.prefs
discussion.review.me/target/

